body.yte-f-hide-in-feed-ads .ytd-page-manager:not([page-subtype="home"]) ytd-search-pyv-renderer,
body.yte-f-hide-in-feed-ads .ytd-page-manager:not([page-subtype="home"]) ytd-in-feed-ad-layout-renderer,
body.yte-f-hide-in-feed-ads .ytd-page-manager:not([page-subtype="home"]) .ytd-in-feed-ad-layout-renderer,
body.yte-f-hide-masthead-ads #masthead-ad,
body.yte-f-hide-player-ads #player-ads {
  display: none !important;
}

.yte-shorts-actions-btn {
  margin-top: 16px !important;
}

.yte-shorts-actions-btn-icon {
  width: 24px;

  /* TODO: try to find a better way to do this */
  filter: brightness(0) saturate(100%) invert(100%) sepia(54%) saturate(351%) hue-rotate(51deg) brightness(110%) contrast(90%);
}

@media (aspect-ratio < 12/16) {
  .yte-shorts-tweaks-actions-container {
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  .yte-shorts-tweaks-actions-container #pivot-button > * {
    padding-bottom: 24px !important;
  }

  .yte-shorts-tweaks-player-metadata-container {
    position: absolute;
  }

  .yte-shorts-tweaks-navigation-container {
    display: none !important;
  }

  .yte-shorts-tweaks-g-page-manager {
    margin-left: 0 !important;
  }

  .yte-shorts-tweaks-g-side-mini-guide {
    display: none !important;
  }

  .yte-shorts-tweaks-actions-container #actions > * > .ytd-reel-player-overlay-renderer {
    padding-top: 0 !important;
    padding-bottom: 24px !important;
  }
}
