#player-ads {
  display: none !important;
}

@media (max-aspect-ratio: 10/16) {
  ytd-mini-guide-renderer {
    display: none !important;
  }

  ytd-page-manager {
    margin-left: 0 !important;
  }

  #shorts-container {
    justify-content: start !important;
  }
}
