#player-ads,
#masthead-ad {
  display: none !important;
}

@media (max-aspect-ratio: 10/16) {
  .metadata-container.ytd-reel-player-overlay-renderer {
    position: absolute;
  }

  .overlay.ytd-reel-video-renderer {
    width: 100% !important;
  }

  .navigation-container.ytd-shorts {
    display: none !important;
  }
}
