.yte-popup {
  min-width: 400px;
  border: var(--border-width) solid var(--border-color);
}

#version {
  position: absolute;
  inset: auto auto 2px 4px;
}

.yte-icon-btn:not(:hover) {
  opacity: 0.8;
}
