* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-width: 350px;
  padding: 16px;
}

.option:not(:first-child) {
  margin-top: 8px;
}

.option {
  display: flex;
  align-items: center;
}

.option > input {
  margin-right: 8px;
}
