.yte-option-item {
  z-index: 1;
  background-color: var(--background-color);
  border-top: var(--border-width) solid var(--border-color);
  transition: background-color 0.5s;
}

.yte-option-item label {
  cursor: pointer;
}

.yte-option-item:hover {
  background-color: transparent;
}

#options-info {
  z-index: 1000;
}

.yte-options-container {
  width: 620px;
}

.yte-option-info {
  flex-shrink: 10;
}
