#option {
  z-index: 1;
  background-color: var(--background-color);
  transition: background-color 0.5s;
  cursor: pointer;
}

form > #option {
  border-top: var(--border-width) solid var(--border-color);
}

#option:hover {
  background-color: transparent;
}

#options-info {
  z-index: 1000;
}

.yte-options-container {
  min-width: 620px;
}

.yte-option-info {
  flex-shrink: 10;
}
