:root {
  --primary-color: #e3e3e3;
  --secondary-color: #c4c7c5;
  --background-color: #292a2d;
  --border-width: 1px;
  --border-color: rgb(255 255 255 / 10%);
  --padding-vertical: 12px;
  --padding-vertical-small: 8px;
  --padding-horizontal: 20px;
  --switch-height: 16px;
  --switch-width: 26px;
  --switch-color: #444746;
  --switch-checked-color: #a8c7fa;
  --switch-toggle-color: #83918f;
  --switch-checked-toggle-color: #062e6f;
  --transition-duration: 0.1s;

  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Segoe UI', Tahoma, sans-serif;
  overflow-x: hidden;
}

h1, p {
  font-size: 13px; /* TODO: calculate the font size */
  font-weight: normal;
  line-height: 154%;
}

.yte-options-container {
  width: 480px;
}

.yte-options-description,
.yte-no-data-message {
  padding: var(--padding-vertical-small) var(--padding-horizontal) var(--padding-vertical);
}

.yte-no-data-message {
  display: none;
  text-align: center;
}

.yte-options-container[empty] {
  .yte-options-description {
    display: none;
  }

  .yte-no-data-message {
    display: block;
  }
}

.yte-option-item {
  padding: var(--padding-vertical) var(--padding-horizontal);
  border-top: var(--border-width) solid var(--border-color);

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}

.yte-option-info {
  margin-right: var(--padding-horizontal);
  flex-shrink: 10;
}

.yte-color-secondary {
  color: var(--secondary-color);
}
